
/* Single styles */

.ginput_container_fileupload > input {
  background: $gfs-container-background-color;
  border-radius: $gfs-border-radius;
  padding: $gfs-padding-large;
  width: 100%;
}

/* Error Style */
.gfield_error .ginput_container_fileupload > input {
  background: $gfs-error-background;
}

/* Multi styles */

.gfield_error .gform_fileupload_multifile {
  background: $gfs-error-background;
}

.gform_fileupload_multifile {
  background: $gfs-container-background-color;
  border-radius: $gfs-border-radius;
  padding: $gfs-padding-large;
}

.gform_drop_area {
  border: 2px dashed $gfs-border-color;
  border-radius: $gfs-border-radius;
  padding: $gfs-padding-medium $gfs-padding-medium $gfs-padding-large;
  text-align: center;
}

.gform_drop_instructions {
  display: block;
  padding: $gfs-padding-medium $gfs-padding-medium $gfs-padding-large;
}
