@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.clear-multi {
  @include clearfix;
}

.sv-form-hide-labels .gfield_label {
  left: -9999px;
  position: absolute;
  visibility: hidden;
}

.sv-form-button-m input[type="submit"] {
  width: 50%;
}

.sv-form-button-l input[type="submit"] {
  width: 100%;
}
